.post-header {
  display: flex;
  align-items: center;
}

.post-header .post-header-image-board {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 1px 1px 10px rgba(82, 109, 194, 0.1);
}

.post-header .post-header-image-board img {
  width: 100%;
  height: auto;
}

.post-header .post-header-profile-name {
  margin-left: 10px;
}

.post-header .post-header-profile-name .profile-name {
  cursor: pointer;
  margin-bottom: 2px;
  font-weight: 600;
}
.post-header .post-header-profile-name .post-date {
  font-size: 0.75rem;
}
