.post-action {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.post-action .post-like-icon,
.post-action .post-comment-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.post-action .post-like-icon svg,
.post-action .post-comment-icon svg {
  max-width: 16px;
  width: 100%;
  margin-right: 5px;
  fill: #7f8f94;
  transition: all 0.4s ease-in-out;
}

.post-action .post-like-icon span,
.post-action .post-comment-icon span {
  font-size: 0.77rem;
  height: 10px;
  color: #7f8f94;
  transition: color 0.4s ease-in-out;
}

.post-action .post-like-icon:hover svg,
.post-action .post-comment-icon:hover svg {
  transform: rotate(0deg);
  fill: #516d77;
}

.post-action .post-like-icon:hover span,
.post-action .post-comment-icon:hover span {
  color: #516d77;
}

.post-action .post-like-icon.liked svg,
.post-action .post-comment-icon.commented svg {
  fill: #ff4167;
}

.post-action .post-like-icon.liked span,
.post-action .post-comment-icon.commented span {
  color: #516d77;
}

.post-action .post-like-icon.liked:hover svg {
  transform: rotate(180deg);
  fill: #7f8f94;
}

.post-action .post-like-icon.liked:hover span,
.post-action .post-comment-icon.commented:hover span {
  color: #516d77;
}
